header {
    background-color: black;
    color: white;
    height: 120px;
}

#search-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#detail-view {
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgba(0, 0, 0, 0.125);
    min-height: 200px;
}

#detail-view div {
    padding: 3px 0;
}