header {
    background-color: rgb(37, 37, 37);
    color: rgb(221, 221, 221);
    height: 120px;
}

main {
    color: rgb(37, 37, 37);
}

.card-body div {
    padding: 3px 0;
    font-size: 11pt;
}

#search-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#detail-view {
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgba(0, 0, 0, 0.125);
    min-height: 200px;
}

#detail-view div {
    padding: 3px 0;
}

#forecast-view .col {
    padding: 0 7px;
}

#uv-index {
    padding: 0 3px;
    border-radius: 3px;
}

.uv-low {
    color: white;
    background-color: green;
}

.uv-moderate {
    color: black;
    background-color: yellow;
}

.uv-high {
    color: black;
    background-color: orange;
}

.uv-very-high {
    color: black;
    background-color: red;
}

.uv-extreme {
    color: white;
    background-color: purple;
}